* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #53635A;
}

body {
  min-height: 100%;
}

.bg {
  background-image: url(../images/top-green.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 80px 0;
  background-color: #53635A;

  h1 {
    margin-bottom: 40px;
    svg {
      display: block;
      width: 100%;
    }
  }

  p {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #161616;
    padding: 0 20px;
  }

  a {
    display: inline-block;
    padding: 12px 16px 11px 16px;
    box-sizing: border-box;
    background-color: darken(#53635A, 10%);
    border: 1px solid darken(#53635A, 10%);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.3s ease;
    font-size: 16px;

    &:hover {
      background-color: lighten(#53635A, 3%);
      border-color: lighten(#53635A, 20%);
    }
  }
}

.about {
  background-color: rgba(83,99,90,0.20);
  position: relative;
  min-height: 400px;

  h2 {
    display: none;
  }

  .text {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px;
    font-weight: 100;
    text-shadow: 0px 1px 10px darken(rgba(83,99,90,1), 30%);
  }

  p {
    font-size: 20px;
    color: #fff;
    line-height: 1.55em;
    margin-bottom: 0.8em;
    letter-spacing: 0.03em;
  }
}

.map {
  width: 100%;
  margin: 0 auto;
  position: relative;

  .gm-style-iw {
    h2 {
      font-size: 22px;
      margin-bottom: 0.5em;
      color: #53635A;
      padding: 8px 0 0 0;
    }

    strong {
      color: #53635A;
    }

    img {
      display: none;
    }

    p {
      font-size: 16px;
      margin-bottom: 0.3em;
    }
  }

  #map {
    margin: 0 auto;
    height: 700px;
    width: 100%;
    text-align: left;
  }
}

.last-image {
  background-image: url(../images/scott-webb-55167.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 0;
  background-position: center -200px;
}
