<svg width="185px" height="181px" viewBox="0 0 185 181" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Vieira Engenharia</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g fill-rule="nonzero">
            <g id="logo" transform="translate(10.000000, 10.000000)">
                <g id="vieira" transform="translate(0.000000, 104.775000)" fill="#161616">
                    <polygon id="Shape" points="33.6204 0.475832258 21.7404 34.0685661 11.88 34.0685661 0 0.475832258 8.8011 0.475832258 16.8102 26.5336235 24.8193 0.475832258"></polygon>
                    <polygon id="Shape" points="46.464 34.0685661 38.544 34.0685661 38.544 0.475832258 46.464 0.475832258"></polygon>
                    <polygon id="Shape" points="78.1803 34.0685661 54.3906 34.0685661 54.3906 0.475832258 78.177 0.475832258 78.177 5.27621307 62.3205 5.27621307 62.3205 13.9135879 74.2005 13.9135879 74.2005 18.7106581 62.3205 18.7106581 62.3205 29.2681853 78.1803 29.2681853"></polygon>
                    <polygon id="Shape" points="93.0039 34.0685661 85.0839 34.0685661 85.0839 0.475832258 93.0039 0.475832258"></polygon>
                    <path d="M128.7,34.0685661 L120.2817,34.0685661 L115.0479,20.6308105 L108.8637,20.6308105 L108.8637,34.0685661 L100.9437,34.0685661 L100.9437,0.475832258 L120.7668,0.475832258 C125.1261,0.475832258 128.6868,2.63434832 128.6868,5.27621307 L128.6868,15.8337402 C128.6868,18.4259459 126.6243,19.9620677 122.4168,20.3924467 L128.7,34.0685661 Z M120.78,15.8337402 L120.78,5.27621307 L108.9,5.27621307 L108.9,15.8337402 L120.78,15.8337402 Z" id="Shape"></path>
                    <path d="M165,34.0685661 L156.5949,34.0685661 L155.0109,29.2681853 L141.2136,29.2681853 L139.6296,34.0685661 L131.2212,34.0685661 L143.1012,0.475832258 L153.12,0.475832258 L165,34.0685661 Z M153.4236,24.4678045 L148.269,8.82518426 L142.7976,24.4711151 L153.4236,24.4678045 Z" id="Shape"></path>
                </g>
                <g id="engenharia" transform="translate(28.050000, 148.500000)" fill="#161616">
                    <polygon id="Shape" points="8.2764 12.1935753 0.5082 12.1935753 0.5082 0.229039985 8.2731 0.229039985 8.2731 1.51024507 2.64 1.51024507 2.64 5.21812542 6.864 5.21812542 6.864 6.49933051 2.64 6.49933051 2.64 10.9090596 8.2896 10.9090596"></polygon>
                    <polygon id="Shape" points="19.8561 12.1935753 18.0774 12.1935753 12.7974 3.34101099 12.7974 12.1935753 10.6788 12.1935753 10.6788 0.229039985 13.0218 0.229039985 17.7375 8.29699036 17.7375 0.229039985 19.8561 0.229039985"></polygon>
                    <path d="M32.1387,10.4853019 C32.1387,11.4255144 30.8682,12.1935753 29.3139,12.1935753 L25.7829,12.1935753 C24.2286,12.1935753 22.9581,11.4255144 22.9581,10.4853019 L22.9581,1.94062404 C22.9581,1.00041152 24.2286,0.232350593 25.7829,0.232350593 L29.3139,0.232350593 C30.8682,0.232350593 32.1387,1.00041152 32.1387,1.94062404 L32.1387,3.64889749 L30.03,3.64889749 L30.03,1.94062404 C30.03,1.68239666 29.7462,1.51355568 29.3238,1.51355568 L25.7928,1.51355568 C25.3704,1.51355568 25.0866,1.68570727 25.0866,1.94062404 L25.0866,10.4853019 C25.0866,10.7402187 25.3704,10.9123702 25.7928,10.9123702 L29.3238,10.9123702 C29.7462,10.9123702 30.03,10.7402187 30.03,10.4853019 L30.03,7.35677784 L27.5451,7.35677784 L27.5451,6.07557275 L32.1486,6.07557275 L32.1387,10.4853019 Z" id="Shape"></path>
                    <polygon id="Shape" points="43.0122 12.1935753 35.2473 12.1935753 35.2473 0.229039985 43.0122 0.229039985 43.0122 1.51024507 37.3626 1.51024507 37.3626 5.21812542 41.5998 5.21812542 41.5998 6.49933051 37.3626 6.49933051 37.3626 10.9090596 43.0122 10.9090596"></polygon>
                    <polygon id="Shape" points="54.5919 12.1935753 52.8 12.1935753 47.52 3.34101099 47.52 12.1935753 45.4014 12.1935753 45.4014 0.229039985 47.7444 0.229039985 52.47 8.29699036 52.47 0.229039985 54.5886 0.229039985"></polygon>
                    <polygon id="Shape" points="66.8745 12.1935753 64.7559 12.1935753 64.7559 6.50264112 59.8059 6.50264112 59.8059 12.1935753 57.6873 12.1935753 57.6873 0.229039985 59.8059 0.229039985 59.8059 5.21812542 64.7559 5.21812542 64.7559 0.229039985 66.8745 0.229039985"></polygon>
                    <path d="M77.154,10.2634912 L71.7057,10.2634912 L71.0457,12.1935753 L68.9007,12.1935753 L73.1379,0.229039985 L75.7086,0.229039985 L79.9458,12.1935753 L77.8008,12.1935753 L77.154,10.2634912 Z M72.1281,8.9822861 L76.7019,8.9822861 L74.415,2.2319575 L72.1281,8.9822861 Z" id="Shape"></path>
                    <path d="M89.1297,7.1184141 L91.1361,12.1935753 L88.8756,12.1935753 L87.0672,7.18462625 L84.0972,7.18462625 L84.0972,12.1935753 L81.9786,12.1935753 L81.9786,0.229039985 L88.3344,0.229039985 C89.9151,0.229039985 91.1592,0.997100915 91.1592,1.93731343 L91.1592,5.4763528 C91.1625,6.26427738 90.3144,6.91315644 89.1297,7.1184141 Z M89.0439,1.94062404 C89.0439,1.68239666 88.7601,1.51355568 88.3377,1.51355568 L84.1005,1.51355568 L84.1005,5.90673177 L88.3377,5.90673177 C88.7601,5.90673177 89.0439,5.73458019 89.0439,5.47966341 L89.0439,1.94062404 Z" id="Shape"></path>
                    <polygon id="Shape" points="96.3864 12.1935753 94.2678 12.1935753 94.2678 0.229039985 96.3864 0.229039985"></polygon>
                    <path d="M106.6659,10.2634912 L101.2143,10.2634912 L100.5543,12.1935753 L98.4093,12.1935753 L102.6465,0.229039985 L105.2172,0.229039985 L109.4544,12.1935753 L107.3094,12.1935753 L106.6659,10.2634912 Z M101.64,8.9822861 L106.2138,8.9822861 L103.9269,2.2319575 L101.64,8.9822861 Z" id="Shape"></path>
                </g>
                <g id="V" transform="translate(34.650000, 0.000000)" fill="#0f3056">
                    <polygon id="Shape" points="22.6083 0.201947055 0.462 0.201947055 32.0562 82.4771636 52.2126 82.4771636"></polygon>
                    <polygon id="Shape" points="69.3363 0.201947055 51.0345 52.0030219 37.0392 12.15324 53.7174 12.15324 58.2978 0.201947055 28.5384 0.201947055 49.1007 58.7566611 57.1626 82.4771636 61.6308 82.4771636 93.3537 0.201947055"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>
