<div id="map"></div>
<script>
  function initMap() {
    // var vieira = {lat: -3.748292, lng: -38.504871};
    var vieira = new google.maps.LatLng(-3.748484, -38.504895);

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      maxZoom: 20,
      minZoom: 11,
      scrollwheel: false,
      closeBoxURL: "",
      // disableDefaultUI: 'yes',
      center: vieira,
      styles: [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#e9e9e9"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#333333"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f2f2f2"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    }
]
    });

    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(vieira);
    });

    var TILE_SIZE = 256;

    var coordInfoWindow = new google.maps.InfoWindow();
      coordInfoWindow.setContent(createInfoWindowContent(vieira, map.getZoom()));
      coordInfoWindow.setPosition(vieira);
      coordInfoWindow.open(map);

    // var marker = new google.maps.Marker({
    //   position: vieira,
    //   map: map
    // });

    function createInfoWindowContent(latLng, zoom) {
      var scale = 1 << zoom;

      var worldCoordinate = project(latLng);

      var pixelCoordinate = new google.maps.Point(
          Math.floor(worldCoordinate.x * scale),
          Math.floor(worldCoordinate.y * scale));

      var tileCoordinate = new google.maps.Point(
          Math.floor(worldCoordinate.x * scale / TILE_SIZE),
          Math.floor(worldCoordinate.y * scale / TILE_SIZE));

      return [
        '<h2>Halo Energia Solar</h2>',
        '<p>Rua Francisco Holanda 625, sala 08. Dionísio Torres.</p>',
        '<p>Telefone: <strong>(85) 3244 2356</strong></p>',
        '<p>Celular: <strong>(85) 988 081 846</strong></p>',
        '<p>Email: <strong>atendimento@halosolar.com.br</strong></p>'
      ].join('');
    }

    function project(latLng) {
      var siny = Math.sin(latLng.lat() * Math.PI / 180);

      // Truncating to 0.9999 effectively limits latitude to 89.189. This is
      // about a third of a tile past the edge of the world tile.
      siny = Math.min(Math.max(siny, -0.9999), 0.9999);

      return new google.maps.Point(
          TILE_SIZE * (0.5 + latLng.lng() / 360),
          TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
    }
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE4zXgb2CTS6DWnJUlHp-RMU68HaVdgsI&callback=initMap"></script>
